 <section class="container">
  <h2 class="titulo">Alojamentos</h2>
  <table class="tabela">
    <thead class="tabela__cabecalho">
      <th class="tabela__cabecalho__conteudo">Número</th>
      <th class="tabela__cabecalho__conteudo">Status</th>
    </thead>
    <tbody >
      <tr class="tabela__linha" *ngFor="let hosting of hostings">
        <td class="tabela__conteudo">{{ hosting.id }}</td>
        <td class="tabela__conteudo">{{ hosting.statusName }}</td>
      </tr>
    </tbody>
  </table>
</section>
